dxlib/
*.db
*.db-shm
*.db-wal
*.vsidx
*.suo
*.opendb
*.ipch
*.json
*.obj
*.recipe
*.ilk
*.log
*.idb
*.pdb
*.tlog
*.lastbuildstate
SuperMarioProject/.vs/DxLibTemplate_ver0.1/copilot-chat/fcbf654b/sessions/20224831-b33a-47af-8c89-6f7a3d4c0b42
*.exe
*.txt
*.vcxproj
*.filters
